#author {
    background: linear-gradient(130deg, #001120, #01050b);
    padding-block: 2rem;
}

#author .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    align-items: start;
}

#author p,
#author a {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
}

#author p.ocult {
    color: #8f8e8e;
    font-size: 1.2rem;
}

@media (min-width: 1080px) {
    section#author .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    section#author .content p {
        width: 100%;
        text-align: center;
    }
}