/* From Uiverse.io by adeladel522 */ 
a {
  text-decoration: none;

}

.button,
body section#form-corrida-zero7-captacao-72bdbbbbbb9d8f539277 button {
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 2rem;
  padding-inline: 2rem;
  background: var(--gradient);
  border-radius: .3rem 1.3rem .3rem 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  gap: 10px;
  outline: none;
  overflow: hidden;
  

  font-family: var(--tts);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  background: var(--gradient);
  border: none;

  filter: drop-shadow(0 0 20px #f31d1d49);
  transition: all 300ms ease-in-out;
}

.button:hover,
body section#form-corrida-zero7-captacao-72bdbbbbbb9d8f539277 button:hover {
  filter: drop-shadow(0 0 40px #f31d1d76);
}

.button .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover,
#rd-button-m5in9w3x.rd-button:hover {
  transform: scale(1.05);
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before,
body section#form-corrida-zero7-captacao-72bdbbbbbb9d8f539277 button::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before,
body section#form-corrida-zero7-captacao-72bdbbbbbb9d8f539277 button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
  animation: shine 2s ease-out infinite;

}

@media (min-width: 1080px) {
  button.button {
      width: initial;
      padding: 2rem 4.5rem;
      font-size: 22px;
  }

  section#cadastro #rd-button-m5in9w3x.rd-button {
    padding: 2rem 4.5rem;
      font-size: 22px;
  }

  header#home a button img {
    margin-top: -.25rem;
  }
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
