header {
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h2 {
    color: #ffffff;
    font-size: 2rem;
  
    font-family: var(--ncs);
    text-transform: uppercase;
    font-weight: 500;
}

header h2 span {
    font-family: var(--ncs);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #c5c5c5;
}

header p span {
    font-weight: 600;
}

@media (min-width: 1080px) {
    header h2 {
        font-size: 3rem;

    }

    header p {
        font-size: 1.6rem;
    }
}