#home {
    background: var(--bg-black);
    height: auto;
    overflow: hidden;
  
    position: relative;
  
    display: flex;
    justify-content: start;
    flex-direction: column;
  
    transition: all 200ms ease-in-out;

    padding-top: 70%;
    padding-bottom: 15%;
  }
  
  #home .wrapper {
    position: relative;
    z-index: 3;
    height: 100%;
  }
  
  #home .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 5rem;
  }

  .close-vsl {
    color: #fff;
    position: absolute;
    font-size: 30px;
    right: 2rem;
    top: 1rem;
  }

  #home .video {
    width: 100%;
    height: 30%;
  }

  #home iframe {
    width: 100%;
    height: 100%;
  }

  #home .video:hover img {
    filter: brightness(1.3);
  }

  #home .video img {
    width: 100%;
    transition: all 300ms ease-in-out;
  }
  
  #home .text {
    margin-top: 10%;
    text-align: center;
    z-index: 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #home img.logo {
    width: 15rem;
    margin-bottom: 2rem;
  }

  #home h1 {
    color: #ffffff;
    font-size: 1.8rem;
  
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: var(--ncs);
    text-transform: uppercase;
    font-weight: 500;
  }

  #home h1.v3,
  #home h1.v2 {
    font-size: 2.3rem;
  }
  
  #home h1 span {
    font-family: var(--ncs);
    color: var(--primary-color);
  }
  
  #home p {
    font-size: 1.4rem;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.4;
  }

  #home p span {
    font-weight: 300;
    color: #ffffff;
  }

  #home a {
    width: 100%;
  }
  
  #home a button {
    width: 100%;
    margin-top: 3rem;
  }
  
  #home .image img {
    width: 100%;
  }
  
  #home .image img.mobile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    max-width: 100vw;
    height: auto;
  }
  
  #home .image img.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    aspect-ratio: 16/9;
    filter: brightness(.5);
  }
  
  #home .image img.icon {
    width: 70%;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    top: 2%;
    right: -20%;
  }
  
  #home .image img.pilares {
    width: 40%;
    position: absolute;
    right: -5%;
    top: -5%;
    z-index: 1;
  
    transform: rotate(10deg);
  }
  
  #home .image img.desktop {
    display: none;
  }

  #home p.obs {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 1rem;
  }

  #home .head {
    width: 100%;
  }

  #home .head h3 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 1rem;

    font-family: var(--ncs);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  #home .head p {
    width: 100%;
    background: #ffffff14;
    border-radius: 1rem;
    padding: 1rem 2rem;

    margin-bottom: 1rem;
    color: #fff;
    font-weight: 400;
  }
  
  @media (min-width: 1080px) {
    header#home {
      justify-content: center;
      position: relative;
      height: 100vh;
      max-height: 100vh;
      padding-block: 0;
  
      /* mask-image: linear-gradient(to bottom, #000 80%, transparent)  */
    }
  
    header#home .head {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    header#home .head h3 {
      margin-bottom: 0;
      width: 100%;
    }

    header#home .head p {
      width: 100%;
    }
    
    header#home .image img.mobile {
      display: none;
    }
  
    header#home .image img.desktop {
      display: inherit;
      width: 100%;
      position: absolute;
      top: 0;
      right:0;
      height: 100%;
      object-fit: cover;
      mask-image: linear-gradient(to bottom, #000 80%, transparent);
    }
  
  
    header#home .content {
      text-align: center;
      align-items: center;
  
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    header#home .text {
      margin-top: initial;
      margin-bottom: initial;
      width: 100%;

      text-align: left;
      display: flex;
      align-items: start;
      flex-direction: column;
  
      position: relative;
      z-index: 2;

      margin-top: -10%;
    }

    header#home .content .head {
      display: flex;
      align-items: center;
      gap: 2rem;

      margin-bottom: 2rem;
    }

    header#home .content img.logo {
      position: initial;
      transform: initial;
      width: 20rem;
    }

    header#home .content h2 {
      font-size: 1.4rem;

      display: flex;
      align-items: center;
    }
  
    header#home .content h1 {
      font-size: 4rem;
      width: 100%;
      line-height: 1.1;
      color: #f8fffd;
      margin-bottom: 0;

      margin-top: 0;
    }

    header#home .content h1.v3,
    header#home .content h1.v2 {
      font-size: 3.5rem;
    }

    header#home .content h1 span {
    font-size: 4.5rem;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    header#home .content a {
      width: initial;
    }

    header#home .content p {
      color: #fff;
      font-weight: 500;
      margin-top: 1rem;

      width: 85%;
    }

    header#home p.obs {
      width: 100%;
      color: var(--primary-color);
      margin-top: 2rem;
      font-size: 1.6rem;
    }
  
    header#home .content a button {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1700px) {
    header#home .image img.desktop {
 

    }

    header#home .content h1 {
      font-size: 3.5rem;
    }

    header#home .content h1.v3,
    header#home .content h1.v2 {
      font-size: 4.5rem;
    }

    header#home .content h1 span {
    }

  }
  