@import './global.css';
@import './home.css';
@import './sectionInicio.css';
@import './sectionDores.css';
@import './sectionNove.css';
@import './sectionSobre.css';
@import './author.css';

@import './button.css';
@import './buttonWpp.css';
@import './obrigado.css';
@import './head.css';
@import './modalDepoimento.css';
@import './barraCarregamento.css';


