@import './global.css';
@import './home.css?v=2qwdqwe';
@import './sectionInicio.css';
@import './sectionDores.css';
@import './sectionNove.css';
@import './sectionSobre.css';
@import './author.css';

@import './button.css?v=2';
@import './buttonWpp.css';
@import './obrigado.css';
@import './head.css';
@import './modalDepoimento.css';
@import './barraCarregamento.css';
@import './modalForm.css?v=2qwd';


