#nove {
    overflow: hidden;
    position: relative;

}

#nove header {
    margin-bottom: 5rem;
}

#nove .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#nove .cards .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#nove .cards .card {
    width: 100%;
    position: relative;
}

#nove .cards .card .number {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding-inline: 2rem;

    position: absolute;
    right: 0;
    top: -10%;
    right: -5%;
    width: 100%;
}

#nove .cards .card .number h4 {
    font-family: var(--goodtimes);
    color: #000000;
    font-size: 8rem;

    opacity: .1;
    background: linear-gradient(45deg, transparent, #e6eeff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nove .cards .card .text {
    text-align: left;
    background: linear-gradient(45deg, #2A0B0D, #090303);
    padding: 4rem;
    border-radius: 1rem;
}

#nove .cards .card .text h5 {
    background: var(--gradient);
    font-size: 1.1rem;
    color: #ffffff;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: .5rem 2rem;
    width: max-content;
}

#nove .cards .card .text h3 {
    font-family: var(--goodtimes);
    color: #Fff;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

#nove .cards .card .text p {
    font-size: 1.6rem;
    color: #bababa;
    line-height: 1.3;
}

#nove .cards .card .text p.um {
    margin-bottom: 1rem;
}

#nove .cards .card .text p span {
    font-weight: 600;
    color: #e8e8e8;
}

#nove img.arrow {
    display: none;
}

#nove a button {
    margin-top: 3rem;
}

@media (min-width: 1080px) {
    section#nove .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    section#nove a button {
    margin-top: 6rem;
}

    section#nove .cards .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        gap: 2rem;

        min-height: 20rem;
    }

    section#nove .cards .card {
        width: 120%;
        margin-left: -20%;
        
    }

    section#nove .cards .card:nth-child(2),
    section#nove .cards .card:nth-child(4) {
        margin-left: 0;
        margin-right: -20%;
    }

    section#nove .cards .card .number {
        border: 3px solid #ffffff14;
        position: initial;
        align-items: end;
        padding-inline: 7rem;
        border-radius: 2rem;
        background: linear-gradient(45deg, #ffffff, #d3d3d3);

            box-shadow: 10px 0px 40px 0px #461e1e3d;

    }

    section#nove .cards .card:nth-child(2) .number,
    section#nove .cards .card:nth-child(4) .number {
        grid-area: b;
        align-items: start;
        background: linear-gradient(45deg, #d3d3d3, #ffffff);

            box-shadow: -10px 0px 40px 0px #461e1e3d;
    }

    section#nove .cards .card .number h4 {
        font-size: 15rem;

        opacity: .6;
        background: linear-gradient(to bottom, #00000076 10%, #34343411);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    section#nove .cards .card:nth-child(5) .number h4 {
        font-size: 10rem;
    }

    section#nove .cards .card .text {
        text-align: left;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        padding: 4rem;
        border-radius: 2rem;

        border: 3px solid #ffffff14;
    }

    section#nove .cards .card .text h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    section#nove .cards .card .text p {
        font-size: 1.5rem;
    }

    section#nove img.arrow {
        display: inherit;
        position: absolute;
        width: 5%;

        mask-image: linear-gradient(to bottom, transparent, #000);
    }

    section#nove img.arrow.left {
        top: -9%;
        left: -5%;
    }

    section#nove img.arrow.right {
        top: -9%;
        right: -5%;
    }
}